[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesianMediationA"]
	path = BayesianMediationA
	url = https://github.com/cran/BayesianMediationA
[submodule "mlma"]
	path = mlma
	url = https://github.com/cran/mlma
[submodule "mma"]
	path = mma
	url = https://github.com/cran/mma
[submodule "mmabig"]
	path = mmabig
	url = https://github.com/cran/mmabig
